.image{
    width: 100px;
}

#points{
    display: inline-block;
}

.text{
    margin: 10px;
}

#player1Option{
    width: 100px;
    background: black;
}
#player2Option{
    width: 100px;
    background: black;
}